<!DOCTYPE HTML>
<html lang="zh-CN">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>viewOne</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no" />
    <link rel="stylesheet" type="text/css" href="../public/style.css" />

</head>
<body>
<div class="content">
    <header class="common-header">
        <a class="icon-back" href="javascript:history.go(-1);"></a>
        <span>viewThree取消</span>
    </header>



</div>
<script src="../public/jquery-latest.min.js"></script>
<script src="../public/screen-adapter.js"></script>
</body>
<script type="text/javascript">
    var adaptPageClass = 'content';

</script>

</html>

